@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --color-1: #252525;
  --color-2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-1);
  color: var(--color-1);
}

.notes-container {
  width: 100vw;
  padding: 50px;
  display: flex;
}

/* Add new note */
.notes-add-new {
  width: 320px;
  height: 250px;
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 50px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.notes-plus {
  width: 70px;
  height: 70px;
  border: 2px dashed var(--color-1);
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus {
  font-size: 25px;
  color: var(--color-1);
}

.notes-add-new > p {
  font-weight: bold;
}

/* Note */
.note-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.note {
  position: relative;
  width: 265px;
  height: 250px;
  background-color: var(--color-2);
  border-radius: 5px;

  padding: 20px;
}

.note h3 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-1);
}

.note > p {
  width: 100%;
  height: 60%;
  border-bottom: 0.5px solid var(--color-1);
  color: var(--color-1);
  font-weight: 300;
  word-wrap: break-word;
}

.note-date {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.note-date > p {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-1);
}

.fa-ellipsis {
  color: var(--color-1);
  cursor: pointer;
}

.note-menu {
  position: absolute;
  width: 90px;
  height: 70px;
  background-color: var(--color-2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  right: 20px;
  bottom: 45px;
  visibility: hidden;
  transition: all 200ms ease-out;
  animation: menu;
}

.note-menu::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-2);
  position: absolute;
  right: 5px;
  bottom: -5px;
  transform: rotate(45deg);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.note-menu-icon {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-1);
  cursor: pointer;
}

.note-menu-icon > i {
  margin-right: 5px;
  font-size: 13px;
  color: var(--color-1);
  pointer-events: none;
}

.note-menu-icon > p {
  pointer-events: none;
}

/* Modal */
.modal-container-add {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  transition: all 200ms linear;
}

.modal-box {
  width: 385px;
  height: 478px;
  background-color: var(--color-2);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-head {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid var(--color-1);
}

.modal-head > i {
  color: var(--color-1);
  cursor: pointer;
}

.modal-box > h5 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.modal-box > input {
  width: 100%;
  height: 10%;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-1);
  border-radius: 5px;
}

.modal-box > input:nth-child(3) {
  margin-top: 5px;
  padding: 10px;
  outline: none;
}

.modal-box > input:nth-child(6) {
  background-color: var(--color-1);
  border: none;
  border-radius: 5px;
  color: var(--color-2);
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  cursor: pointer;
}

.modal-box > input:nth-child(6):hover {
  background-color: #141414;
}

#textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-1);
  border-radius: 5px;
}

.modal-container-edit {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  transition: all 200ms ease-in-out;
}

/* Utilities */
.active {
  visibility: visible;
}

.error {
  border: 2px solid red;
}
